* {
    font-family: 'Lexend Deca', sans-serif;
}

#sideMenu{
    background-color: teal;
}

.topIcon{
    height: 25px;
}

.navbar-light .navbar-brand {
    color: #4044DF;
}

.topBar > li{
    padding-left: 5px;
    padding-right: 5px;
}
